 DATA EXTRACTION BY LEVIN EKUAM

In [1]:
# importing necessaries libraries
import pandas as pd

In [2]:
# loading the datasets given
df_full= pd.read_csv("data/raw_data.csv", parse_dates=["order_date"])
df_incremented = pd.read_csv("data/incremental_data.csv", parse_dates=["order_date"])

# showing the first 5 rows of the raw dataset
df_full.head(5)

   order_id customer_name product  quantity  unit_price order_date region
0         1         Diana  Tablet       NaN       500.0 2024-01-20  South
1         2           Eve  Laptop       NaN         NaN 2024-04-29  North
2         3       Charlie  Laptop       2.0       250.0 2024-01-08    NaN
3         4           Eve  Laptop       2.0       750.0 2024-01-07   West
4         5           Eve  Tablet       3.0         NaN 2024-03-07  South

In [3]:
# getting information about the raw dataset
df_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       100 non-null    int64
 1   customer_name  99 non-null     object
 2   product        100 non-null    object
 3   quantity       74 non-null     float64
 4   unit_price     65 non-null     float64
 5   order_date     99 non-null     datetime64[ns]
 6   region         75 non-null     object
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 5.6+ KB

In [4]:
# showing the first 5 rows of the incremented dataset
df_incremented.head(5)

   order_id customer_name product  quantity  unit_price order_date   region
0       101         Alice  Laptop       NaN       900.0 2024-05-09  Central
1       102           NaN  Laptop       1.0       300.0 2024-05-07  Central
2       103           NaN  Laptop       1.0       600.0 2024-05-04  Central
3       104           NaN  Tablet       NaN       300.0 2024-05-26  Central
4       105         Heidi  Tablet       2.0       600.0 2024-05-21    North

In [5]:
# getting information about the incremented dataset
df_incremented.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       10 non-null     int64
 1   customer_name  4 non-null      object
 2   product        10 non-null     object
 3   quantity       6 non-null      float64
 4   unit_price     10 non-null     float64
 5   order_date     10 non-null     datetime64[ns]
 6   region         8 non-null      object
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 692.0+ bytes

In [6]:
# checking for missing values, duplicates and suspicious rows in the raw data

df_full.isnull().sum() # this checks the number of missing values in each column and sums them

order_id          0
customer_name     1
product           0
quantity         26
unit_price       35
order_date        1
region           25
dtype: int64

In [7]:
#checking for duplicates
df_full.duplicated().sum()

np.int64(1)

In [8]:
# checking the columns for any suspicious one 
df_full.columns

Index(['order_id', 'customer_name', 'product', 'quantity', 'unit_price',
       'order_date', 'region'],
      dtype='object')

In [9]:
# checking for missing values in the incremented dataset in each column and summing them up
df_incremented.isnull().sum()

order_id         0
customer_name    6
product          0
quantity         4
unit_price       0
order_date       0
region           2
dtype: int64

In [10]:
# checking for duplicates in the incremented dataset
df_incremented.duplicated().sum()

np.int64(0)

In [11]:
# checking for suspicious columns
df_incremented.columns

Index(['order_id', 'customer_name', 'product', 'quantity', 'unit_price',
       'order_date', 'region'],
      dtype='object')